<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table {
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= sub %></p>
    <table>
      <tr>
        <th>ID</th>
        <th>Term</th>
        <th>Description</th>
        <th>Reference</th>
      </tr>
      <% glossaries.forEach((glossary) => { %>
        <tr>
          <td><%= glossary.id %></td>
          <td><%= glossary.term %></td>
          <td><%= glossary.description %></td>
          <td><%= glossary.reference %></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
